// COLORS
$gray-color: #CFCFCF;
$dark-gray-color: #737373;

$green-color: #56C2A3;
$dark-green-color: #112721;

$white-color: #FFFFFF;
$black-color: #000000;

// FONT-SIZE
$default-font-size: 1.6rem;

$md-title-font: 2rem;

// FONT
$title-font: "Lato", serif;
$text-font: "Montserrat", serif;



// WIDTH
$max-width: 144rem;

// BORDER_RADIUS
$radius: 1.2rem;

//PADDING

