.header{
    &__text_box{
        height: 80vh;
        background-image: url(/assets/img/hero_section_bg.webp);
        background-size: cover;
        background-position: bottom;
        border-radius: $radius;
        @include respond(phone) {
            height: 85vh;
        }
    }
}

