.project__content{
    margin-bottom: 1.4rem;
    .project__showcase{
        margin-top: 5rem;
        text-align: center;
        width: 100%;
    }
    .showcase-img {
        max-width: 80rem;
        width: 100%;
        height: auto;
    }
}
